body{
    background: #ccff66;
	background-image: url("../images/wadang-02.png");
	background-repeat: no-repeat;
	background-size: 800px 800px;
	background-position: 600px 1300px;
} 
.v1{
	margin-top:30px;
	margin-left: 320px;
	width:1000px;
	height:100%;
}
.v2{margin-top:30px;
	margin-left: 160px;
	width:2000px;
	height:100%;
}
.v3{margin-top:30px;
	margin-left: 17px;
	width:3000px;
	height:100%;
}